@page
@model WebApp.Pages.SamplePages.BasicsModel
@{
    //the cshtml page contains both cs code and html code
    //the @ symbol takes processing from the html environment
    //  and moves it to the C# environment
    //processing any html code moves processig into the html
    //  environment

    //set the text for the brower window tab
    ViewData["Title"]="Review page basics";
}
<h1>Basics of Razor Page (Review)</h1>

@if (string.IsNullOrWhiteSpace(Model.MyName))
{
    <p>The random number is odd.</p>
}
else
{
    <p>@Model.MyName</p>
}<!--eof-->